.row{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
/* 구역 */
#cjazit.A11{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 진짜 좌석표에 표시되는 구역 이름 */

/* 열 끝 */
#cjazit.AA1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#cjazit.B11{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#cjazit.A12{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#cjazit.AA2{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;  
}
#cjazit.B12{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

    
    
             