.seat_all.seat-all{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    width: max-content;
    overflow: auto;
    margin: 0 auto;
    display: block;
    padding-top: 120px;
}
.rating-info{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.floor{
    box-sizing: border-box;
    margin: 1;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 40px;
    overflow-y: scroll;
    zoom: normal;
}
.outer-container{
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.seating_table_container{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-weight: bolder;
}

.seattable_floor{
    font-weight: bolder;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.floor_container{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

#jayu.A11 row{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
#jayu.AA1 row{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#jayu.AB1 row{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
#jayu.AC1 row{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
#jayu.C11 row{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#jayu.A11{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 30px;
}

#jayu.aa1{  
    box-sizing: border-box;
    margin: 1;
    font-family: 'Noto Sans KR', sans-serif;}
#jayu.AB1{    
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;}
#jayu.AC1{    
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;}
    
#jayu.C11{    
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 30px;}
    
/* 가상 좌석과 좌석 포함 */

#seat{    
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;
}
/* 좌석 점수에 따라 div 색갈 바뀌게 동적 변경 className에 추가해야함 */

#row_zone{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    min-width: 25px;
}
.seat_num{
    box-sizing: border-box;
    margin: 1;
    font-family: 'Noto Sans KR', sans-serif;
}

.seats{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

#seat.real.no_review{
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ebebeb;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;
}
#seat.real.lightgreen{ 
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #87d37c;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;
   }
#seat.real.green{
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #00b16a;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;}
#seat.real.red{ 
       cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f22713;
    opacity: 80%;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;}
#seat.real.orange{
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ff9924;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;
}
#seat.real.yellow{
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffe647;
    height: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10%;
    margin: 2.5px;
    width: 25px;
}

