#lg_signature_hall.AA1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}
#lg_signature_hall.AB1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}
#lg_signature_hall.BBOP1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BC1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}
#lg_signature_hall.CC{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}

#lg_signature_hall.AABL1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.AB1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: flex-end;
    padding-left: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#lg_signature_hall.AC1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BB1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BC1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BD1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 50px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#lg_signature_hall.CCBR1F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

#lg_signature_hall.AA1G{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.AB1G{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BB1G{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.BC1G{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#lg_signature_hall.CC1G{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}