#tom2.B1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    left: 60px;
    top: 20px;
    transform: rotate(45deg);
    height: 270px;
    z-index: 1;
}
#tom2.C1{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    right: 20px;
    margin: 170px 0 50px 30px;
}
#tom2.D1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    right: 60px;
    top: 60px;
    transform: rotate(315deg);
    height: 240px;
}