#tom1.AA1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 50px;
}
#tom1.CC1{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 30px;
}
#tom1.EE1{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right: 50px;
}

#tom1.AA2F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 10px;
    padding-left: 50px;
}
#tom1.BB2F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#tom1.CC2F{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 20px;
}
#tom1.DD2F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#tom1.EE2F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    padding-right: 50px;
}

#tom1.AA3F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 10px;
    padding-left: 50px;
}
#tom1.BB3F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#tom1.CC3F{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 20px;
}
#tom1.DD3F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
#tom1.EE3F{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 10px;
    padding-right: 50px;
}