nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #faf9f9;
    padding: 5px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    color: rgb(105, 102, 102);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
  }
  
  nav li:nth-child(5) a{
    color: pink;
  }
  
  nav li:nth-child(5) a{
    margin-right:4px;
  }
  nav li:nth-child(3) a {
    font-size: 20px;
  }