.Pop-Play{
  font-size: 15px;
  font-weight: bold;
  background-color: white;

  padding:100px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 50px;
}

.Pop-Play a{
  color: black;
  text-decoration: none;
}