/* Popular_play.css */
.performance-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin : 0 50px;
}

.performance-box {
  width: calc(33.33% - 20px); /* 가로로 3등분하여 배치하기 위해 너비 조정 */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.performance-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.performance-box h3 {
  margin-top: 10px;
}

.performance-box p {
  margin-top: 5px;
}
