.performance-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .performance-box img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border: 3px solid black;
  }
  
  .performance-box h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .performance-box p {
    font-size: 14px;
    color: #888;
  }