.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* 배경색 설정 */
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.signup-form label {
  margin-bottom: 5px;
  font-size: 14px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 1px solid #ccc; /* 아래쪽 테두리 추가 */
  border-radius: 0; /* 테두리 반경 제거 */
  font-size: 14px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.signup-form button {
  background-color: #432baf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1px; 
}

.signup-form button:hover {
  background-color: #5a3fcd;
}

.bottom-space {
  height: 20px; /* 원하는 여백의 높이로 설정 */
}

.input-group {
  position: relative;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
}

.input-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  pointer-events: none;
  transform-origin: 0 0;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(0.75);
}

.signup-link {
  align-self: flex-end;
  margin-right: 5px;
  color: gray !important;
}