.Top-menu-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Top-menu-item{
    font-size: 15px;
    font-weight: bold;
    background-color: white;

    padding: 10px 10px 10px 10px;
    border: 2px solid black;

    cursor: pointer;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 10px;
   

}
