.WishListBody:before {
    content: "";
    background: url(//yaimg.yanolja.com/joy/sunny/static/images/ic-wishlist-empty.svg) no-repeat 50%;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    display: block;
    margin: 0 auto;
    margin-top: 15rem;
}

.WishList_BodyTitle {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #616161;
    line-height: 1.9rem;
    text-align: center;
}