.App {
  text-align: center;
}

.App-logo {
  height: 350px;
  pointer-events: none;
  animation : shake 3s;
  animation-iteration-count: infinite;
 
}
@keyframes shake{
 0%{rotate:0deg;}
 25%{rotate:90deg;}
 50%{rotate:-90deg;}
 75%{rotate:90deg;}
 100%{rotate:-90deg;}
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
 
}
